.navbar-nav {
    margin-left: auto;
  }
  
  /* Hover effect for nav links */
  .nav-link {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #007bff; /* Blue background on hover */
    color: #ffffff; /* White text on hover */
    border-radius: 5px; /* Optional: rounded corners */
  }
  
  /* Specific styles for active link */
  .nav-link.active {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
  }
  
  /* Dropdown menu styles */
  .dropdown-menu {
    border-radius: 5px;
    overflow: hidden;
  }
  
  .dropdown-item:hover {
    background-color: #007bff;
    color: #ffffff;
  }
  .collapse{
    margin-right:30px;
  }
  .avatar-user{
    margin-left:10px;
  }
  .fa-sign-out-alt{
    width:3px;
    height:3px;
    padding-top:3px;
  }
  .sign-out-container {
    display: flex;

    gap: 20px; /* Giảm khoảng cách nếu cần */
    justify-content: center;
  }
  .image-user-infor{
    border-radius: 18px;
  }