html, body {
    height: 100%;  /* Đảm bảo body có chiều cao 100% */
    margin: 0;     /* Loại bỏ khoảng cách mặc định của body */
    overflow-y: auto; /* Kích hoạt thanh cuộn dọc cho toàn bộ trang */
  }

.profile-header {
    border: 1px solid blue;
    height: 250px;
    position: relative; /* Để avatar và tên có thể định vị tuyệt đối */
  }
  
  .cover-photo {
    height: 300px;
    background-image: url("../../../assets/images/cover-photo.jpg");
    background-color: black;
    background-size: cover;
  }
  
  .avatar {
    position: absolute;
    bottom: -135px; /* Định vị avatar cách mép dưới */
    left: 50px; /* Định vị avatar cách mép trái */
    height: 200px;
    width: 200px;
    background-image: url("../../../assets/images/avatar.png");
    background-color: black;
    background-size: cover;
    border-radius: 50%; /* Làm avatar tròn */
    border: 4px solid white; /* Viền trắng */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Hiệu ứng bóng */
  }
  
  .name {
    position: absolute;
    bottom: -90px; /* Căn chỉnh theo chiều dọc, ngang hàng với avatar */
    left: 270px; /* Đặt tên cách avatar khoảng 20px */
    font-size: 24px; /* Kích thước chữ */
    font-weight: bold; /* In đậm */
    color: black; /* Màu chữ */
  }


  .profile-body{

    margin-top: 200px;
    height: 200px;
    width: 100vh;
    border: 4px solid red;



  }


  .scrollable-section {
    max-height: 300px;
    overflow-y: auto;  
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  